<!-- src/app/url-shortener.component.html -->

<div class="container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="urlForm" (ngSubmit)="shortenUrl()" class="form-container">
        <div class="form-field">
          <mat-form-field appearance="fill">
            <mat-label>Enter Long URL:</mat-label>
            <input matInput formControlName="longUrl" placeholder="https://example.com" />
            <mat-error *ngIf="urlForm.get('longUrl').hasError('pattern') && urlForm.get('longUrl').touched">
              Please enter a valid URL
            </mat-error>
            <mat-error *ngIf="urlForm.get('longUrl').hasError('required') && urlForm.get('longUrl').touched">
              Long URL is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field appearance="fill">
            <mat-label>Enter alias:</mat-label>
            <input matInput formControlName="alias"/>
          </mat-form-field>
        </div>

        <div class="form-field" *ngIf="urlForm.get('shortUrl').value !== null">
          <mat-form-field appearance="fill">
            <input [disabled]="true" matInput formControlName="shortUrl" placeholder="Custom Short URL" />
          </mat-form-field>
        </div>

        <div class="form-field">
          <button mat-raised-button color="primary" type="submit" [disabled]="!urlForm.valid">
            Shorten URL
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
